  /*
/* Fonts Style */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
  --main-bg-color: hsl(30, 38%, 92%);
  --bg-color-white: hsl(0, 0%, 100%);
  --bg-color-cyan: hsl(158, 36%, 37%);
  --text-color: hsl(228, 12%, 48%);
  --text-dark-color: hsl(212, 21%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 14px;
}

h1, .new-price {
  font-family: 'Fraunces', serif;
  margin: 10px 0;
}

p, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
p{
  color: var(--text-color);
}

.card {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 10px;
}

.card .left {
  width: 275px;
  height: 390px;
  background: url(../images/image-product-desktop.jpg) no-repeat;
  background-size: cover;
}

.card .right {
  width: 275px;
  height: 390px;
  padding: 26px;
  background-color: var(--bg-color-white);
}

.card .right .perfume {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--text-dark-color);
  font-weight: 700;
  font-size: 12px;
}

p.description {
  line-height: 23px;
}

/* Prices */
.card .right .prices {
  display: flex;
  align-items: center;
}
.card .right .prices .new-price {
  color: var(--bg-color-cyan);
  margin-right: 20px;
  font-size: 36px;
}
.card .right .prices .old-price {
  text-decoration: line-through;
}

/* Button */
.card .right button {
  cursor: pointer;
  border: none;
  padding: 13px 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: var(--bg-color-cyan);
  color: hsl(0, 0%, 100%);
  transition: .2s;
  width: 100%;
}
.card .right button:hover {
  background-color: hsl(158, 36%, 32%);
}