/* Fonts Style */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
h1 {
  font-family: 'Fraunces', serif;
  /*font-weight: 700;*/
  margin: 16px 0;
}
p {
  font-size: 14px;
  line-height: 20px;
  color: hsl(228, 12%, 48%);
}

.card {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 10px;
}

.card .left{
  flex: 1;
}
.card .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .right {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
}

.card .right .perfume {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(212, 21%, 14%);
}

.card .right .prices {
  display: flex;
  align-items: center;
}
.card .right .prices .big {
  color: hsl(158 24% 50%);
  margin-right: 20px;
}
.card .right .prices .small {
  text-decoration: line-through;
}

.card .right button {
  padding: 16px 30px;
  border-radius: 10px;
  background-color: hsl(158, 36%, 37%);
  border: none;
  color: hsl(0, 0%, 100%);
  transition: all .3s;
  display: flex;
  justify-content: space-between;
}
.card .right svg {
  font-size: 14px;
  color: white;
}

.card .right button:hover {
  background-color: hsl(158, 36%, 32%);
}
